    <% for(let habit of habits) {%>   
    <div class="container daily-view" style="display: none;">
        <!-- habit title -->
        <div class="habit-title">
            <h2><%= habit.title %></h2>
            <p><%= habit.desc %></p>
        </div>

        <!-- habit details in daily view-->
        <div class="habit-container">
            <!-- complete status -->

            <div class="mark-status-daily">
                <% 
                    const date = new Date();
                    let day = date.getDate();
                    let month = date.getMonth() + 1;
                    let year = date.getFullYear();
                    let currentDate = `${day} / ${month} / ${year}`;
                %>
                    <h3><%= currentDate %></h3>
                
            </div>

            <!-- habit desciption -->
            <div class="habit-desc">
                <% if(!habit.desc) { %>
                    <p>- No description -</p>
                <% } else { %>
                    <p><%= habit.desc %></p> 
                <% } %>
            </div>

            <!-- options : edit, delete -->
            <div class="menu">  
                <a class="clickIt" id="<%= habit._id%>" style="text-decoration: none;">
                    <i class="fa-solid fa-pencil fa-lg" style="color: rgb(15, 96, 245);"></i>
                </a>
                <!-- edit form -->
                <div class="form-popup" id="myEditForm_<%= habit._id %>">
                    <form action="users/habit/edit-habit/?id=<%= habit._id%>&user=<%=locals.user%>" id="editHabit" method="POST" class="form-container">
                        <input type="text" name="title" value="<%= habit.title %>" required>
                        <input type="text" name="desc" value="<%= habit.desc %>">
                        <button class="btn btn-danger" type="reset" id="cancel-btn">Cancel</button>
                        <button class="btn btn-primary" type="submit" id="save-btn">Save</button>
                    </form>
                </div>
                <a href="/users/habit/delete-habit/?id=<%=habit._id%>" style="text-decoration: none;">
                    <i class="fa-regular fa-trash-can fa-lg" style="color: rgb(15, 96, 245);"></i>
                </a>
            </div>
        </div>
    </div>
<% } %>
